*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}
body{
	font-family: 'Odibee Sans', cursive;
	color: #33E3FF;

}
.mainbox{
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

.main-box{
	width: 100vw;
	height: 100vh;
	position: relative;
	background-color: #07252d;
	background-size: cover;
	background-repeat: no-repeat;
    text-transform: uppercase;

}
.link{
	display: block;
    font-weight: 500;
    margin-left: 30px;

    margin-top: 20px; 
    transition: color 0.3s ease;
    float: right;
}
 .link a:hover{
	color: crimson;
	font-size: 55px;
	border: 2px dashed blue;

}
.happy{
	font-size: 6vw;
	position: absolute;
	top: 4vw;
	left: 3vw;
}
.link a{
	padding-left: 15px;
	text-decoration: none;
	font-size: 45px;
	padding-right: 15px;
	border: 2px solid crimson;
	margin-right: 25px;

}
.sev{

	font-size: 6vw;
	font-family: 'Odibee Sans', cursive;
	position: absolute;
	top: 14vw;
	left: 3vw;
	


}
.ms{
	font-size: 6vw;
	font-family: 'Odibee Sans', cursive;
	position: absolute;
	top: 19vw;
	left: 3vw;

}

.birth{
	font-size: 6.5vw;
	position: absolute;
	top: 8.8vw;
	left: 3vw;
}
.name{
	font-size: 6vw;
	position: absolute;
	top: 27.2vw;
	left: 3vw;
}
.caste{
	font-size: 6vw;
	position: absolute;
	top: 32vw;
	left: 3vw;
}
.ab{
	color: #33E3FF;
}

 .imge .image{
	margin-top: 55px;
	margin-left: 200px;
	width: 30%;
	height: 100vh;

}

#main-box1{
	width: 100vw;
	height: 100vh;
	position: relative;
	background-size: 100%,100%;
	background-repeat: no-repeat;
	background-color: #07252d;
    overflow-x: hidden;
		}
.one img{
			height: 100vh;
			position: absolute;
			left: 0;

		}
	.two img{
			height: 100vh;
			margin-left: 190px;
			width: auto;
		}

	.three img{
			height: 100vh;
			margin-left: 500px;
			position: absolute;
			top: 0;
		}
	.four img{
			height: 100vh;
			margin-left: 752px;
			position: absolute;
			top: 0;
		}
	.five img{
			height: 100vh;
			margin-left: 1000px;
			position: absolute;
			top: 0;
		}
	.six img{
		display: none;
	}	


/* Using media tag*/

@media   (max-width: 768px){
	*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
     }
     body{
     }
     .main-box{
	
	display: block;
}
	.link{
	display: block;
    font-weight: 500;
    margin-left: 30px;
    margin-top: 20px; 
    transition: color 0.3s ease;
    float: right;
}
 .link a:hover{
	color: crimson;
	font-size: 25px;
	border: 2px dashed blue;

}
.link a{
	padding-left: 15px;
	text-decoration: none;
	font-size: 25px;
	padding-right: 15px;
	border: 2px solid crimson;
	margin-right: 25px;
	display: none;

}
.happy{
	font-size: 9vw;
	position: absolute;
	top: 21vw;
	left: 3vw;
}

.sev{

	font-size: 8.9vw;
	font-family: 'Odibee Sans', cursive;
	position: absolute;
	top: 36vw;
	left: 3vw;
	


}
.ms{
	font-size: 9vw;
	font-family: 'Odibee Sans', cursive;
	position: absolute;
	top: 44vw;
	left: 3vw;

}

.birth{
	font-size: 9.2vw;
	position: absolute;
	top:28vw;
	left: 3vw;
}
.name{
	font-size: 9vw;
	position: absolute;
	top: 58vw;
	left: 3vw;
}
.caste{
	font-size: 9vw;
	position: absolute;
	top: 65vw;
	left: 3;
}
.imge .image{
	margin-top: 55px;
	margin-left: 200px;
	width: 50%;
	height: 100vh;
}
.one img{
			width: 25%;
			height: auto;
			position: absolute;
			left: 0;
			z-index: 1;

		}
	.two img{
			margin-left: 190px;
			width: 30%;
			height: auto;
		}

	.three img{
			margin-left: 420px;
			height: auto;
			width: 25%;
			position: absolute;
			top: 0;
		}
	.four img{
			margin-left: 500px;
			position: absolute;
			top: 0;
			display: none;
			z-index: 0;
		}
	.five img{
			margin-left: 520px;
			width: 33%;
			height: 80%;
			position: absolute;
			top: 0;
			z-index: 1;
		}
	.six img{
		display: block;
		margin-left: 2px;
		margin-top: 45%;
		width: 30%;
		height: auto; 
		z-index: 0;
	}	

}

/*Using media tag for iphone x*/
@media(min-height: 812px) and (min-width: 375px){
   .mainbox{
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

.main-box{
	position: relative;
	
}
.imge .image{
	margin-top: 55px;
	margin-left: 200px;
	position: absolute;
	bottom: 0;
	right: 10;
	width: 50%;
	height: 50vh;

}
.name{
	font-size: 15vw;
	position: absolute;
	top: 165vw;
	left: 3vw;
}
.caste{
	font-size: 14vw;
	position: absolute;
	top: 180vw;
	left: 3vw;
}
.ms{
	font-size: 14vw;
	font-family: 'Odibee Sans', cursive;
	position: absolute;
	top: 120vw;
	left: 3vw;

}
.happy{
	font-size: 20vw;
	position: absolute;
	top: 65vw;
	left: 3vw;
	letter-spacing: 5px;
}
.sev{

	font-size: 14vw;
	font-family: 'Odibee Sans', cursive;
	position: absolute;
	top: 105vw;
	left: 3vw;
	
}
.birth{
	font-size: 20vw;
	position: absolute;
	top: 85vw;
	left: 3vw;
    letter-spacing: 5px;

}

}